@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,800;1,900&display=block');
body {
    font-family: "Source Code Pro", monospace;
}
.search {
	display: flex;
	align-items: center;
	padding: 0 12px;
	font-size: 24px;
}
.search__input {
	background: transparent;
	border: 1px solid transparent;
	border-radius: 12px;
	color: #183052;
	height: 48px;
	flex: 1;
	padding: 12px 24px;
	margin: 24px 12px;
}
.search__input:focus-within {
	border-color: #4F7FFA;
}
.search__input:focus {
	outline: 0;
}
.card_weather {
	border: 0;
}
@media only screen and (min-width: 1200px) {
	.card_weather {
		width: 800px;
		margin: auto;
	}
}
.card_weather > .card__body {
	padding: 32px 24px;
	margin-bottom: 32px;
	background: linear-gradient(101.56deg, #4f7ffa 17.75%, #335fd1 84.8%);
	box-shadow: 0 4px 10px rgba(59, 105, 222, 0.4);
	border-radius: 12px;
	font-size: 18px;
	color: #fff;
}
.card__col {
	display: flex;
}
.card_weather .card__col canvas {
	align-items: flex-start;
}
.card_weather .clock {
	margin: 0 0 0 auto;
}
.card__promo {
	margin-right: 4rem;
}
.card_weather .card__degree {
	position: relative;
	font-size: 48px;
}
.card_weather .card__degree .units {
	position: absolute;
	top: -2px;
	left: 100%;
	font-size: 18px;
    line-height: 1;
	color: #ededed;
	white-space: nowrap;
}
.card_weather .card__degree .link {
	position: relative;
	color: #fff;
	cursor: pointer;
}
.card_weather .card__degree .link::after {
	content: '';
	position: absolute;
	width: 80%;
	height: 2px;
	bottom: -2px;
	left: 5px;
	background-color: #fff;
	transition: transform .35s ease-out
}
.card_weather .card__degree .link:hover::after {
	transform: scale(0);
}
.card_weather .card__degree .divider {
	margin: 0 5px;
	color: #ededed;
}
.card_weather .card__description {
	display: block;
	font-size: 22px;
	font-weight: 500;
	text-transform: capitalize;
}
.card_weather .card__title {
	text-transform: capitalize;
	font-size: 68px;
    font-family: 'Inconsolata', sans-serif;
    letter-spacing: .05em;
}
.card__footer {
	padding: 20px 0 40px;
	text-align: center;
	color: #999;
}
.card_day,
.card_info {
	border: 0;
	color: #183052;
}
.card_info {
	background: #fafafa;
	border-radius: 12px;
}
.card_info .card__body {
	display: flex;
	align-items: center;
	padding: 24px;
	font-size: 18px;
}
.card_info .col {
	margin-left: 1rem;
	flex: 1;
}
.card_info .col span {
	display: block;
}
.card__value {
	font-size: 18px;
	font-weight: 600;
}
.card_day {
	padding: 12px 24px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 500;
	background: #fbfbfb;
	border-radius: 4px;
	text-align: center;
}
.card_day .card__title {
	margin: 0 0 20px;
	display: block;
	font-size: 1.25rem;
}
.card_day canvas {
    display: block;
    margin: 0 auto;
}
.card_day .card__value {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}
.card_day .card__value .is-min {
	color: #335fd1;
}
.card_day .card__value .is-max {
	color: #b83261;
}
.section__title {
	font-size: 2rem;
	font-weight: 500;
	color: #201C1C;
	margin-bottom: 2rem;
}
